.add-card-container {
  height: 10%;
}

.add-card {
  padding: 1rem;
}

.board-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 90%;
}

.list {
  flex-grow: 1;
  flex-basis: 0;
}
